* { font-family: 'Montserrat', sans-serif; }
a { color: black; text-decoration: none; }
img { float: right; height: 100%; margin-top: -8%; }
.text-shadow { text-shadow: 0px 0px .3vw white; }
.book-letter { font-size: 5em; }
.container-page { display: none; }
.container-page h1 { font-size: 5em; font-weight: bold; top: 10%; }
.container-page h2 { font-size: 1.4em; top: 20%; }
.container-page h1, .container-page h2 {
  color: black;
  left: 25%;
  position: fixed;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
#main-container {
  background: url("../images/new_photo.jpg") no-repeat fixed -15em center;
  background-size: 115%;
  height: 90%;
  /*height: 100%;*/   // For hidden tab bar
  width: 100%;
}
#landing-page { display: inline; }
#landing-page h1 { left: 75%; top: 15%; }
#landing-page h2 { left: 75%; top: 21%; }
#about-page h1, #about-page h2 { color: white; }
#about-page > p {
  color: white;
  font-size: 2em;
  line-height: 1.4em;
  margin: 3em;
  position: fixed;
  text-shadow: 0px 0px .1vw black;
  top: 0%;
}

#fixed-reel {
  height: 100%;
  width: 100%;
}
.reel-player {
  left: 50%;
  position: relative;
  transform: translate(-50%, 25%);
}
#fixed-reel > h2 {
  font-size: 4em;
  left: 50%;
  position: absolute;
  top: 70%;
  transform: translate(-50%, 0);
}
#scrolling-reel {
  height: 110%;
  width: 100%;
}
#scrolling-reel > iframe {
  top: 100%;
  position: absolute;
}
#reel-info {
  font-size: 3.5em;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
  top: 100%;
}
.arrow {
  height: 25%;
  opacity: .2;
  position: absolute;
}
.arrow:hover {
  opacity: 1;
}
#left-arrow {
  //display: none;
  left: 10%;
  top: 140%;
}
#right-arrow {
  //display: none;
  right: 10%;
  top: 140%;
}
#down-arrow {
  height: 10%;
  width: 5%;
  left: 50%;
  top: 95%;
  transform: translate(-50%, 0);
}

#wrapper1 {
  height: 55%;
  overflow: hidden;
  position: fixed;
  top: 15%;
  width: 100%;
}
#images-container {
  height: 110%;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;
}
#wrapper2 {
  height: 10%;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 75%;
  transform: translate(-50%, 0%);
  width: 85%;
}
#mini-images-container {
  height: 115%;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;
}
.image-container {
  float: none;
  height: 90%;
  margin: .4em;
}
#portfolio-page h1 {
  left: 50%;
}
#events-page h1, #events-page h2 { color: white; }
#links-container {
  background-color: white;
  bottom: 0%;
  position: fixed;
  height: 10%;
  width: 100%;
}
.link {
  float: left;
  height: 100%;
  text-align: center;
  width: 16.6666666667%;
}
.link > h2 {
  font-size: 2em;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.link:hover {
  background-color: rgba(0,0,0,0.1);
}
.link:active {
  background-color: rgba(0,0,0,0.2);
}
